<% include('partials/header.ejs') %>
        <h1>Single Article Page</h1>
        <h2> Title: <%= articles.title %> </h2>
        <p> <%= articles.content %> </p>
<%- include('partials/footer.ejs') %>